.container {
  width: 65vw;
  min-width: 320px;
  padding: 0 1em;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__footer {
  margin-top: auto;
}

.header {
  font-size: 0.98rem;
}

.header__navigation {
}

.header__content {
  display: flex;
  padding: 1em;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--color-primary-dark);
}

.menu__item {
  position: relative;
  line-height: 1;
}

.menu__item:not(.menu__item_last)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 4px;
  height: 4px;
  background: var(--color-primary-light);
  transform: translate(50%, -50%);
  border-radius: 100%;
  z-index: 1;
}

.menu__link {
  display: block;
  padding: 0.8em 1.4em;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  background: transparent;
}

.menu__item_active .menu__link,
.menu__link:hover {
  color: var(--color-accent);
}

.menu__item_active .menu__link {
  pointer-events: none;
}

.button {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: solid 2px var(--color-accent);
  background-color: var(--color-accent);
  text-decoration: none;
  line-height: 1;
  color: var(--color-text);
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  background-color: transparent;
  color: #ffffff;
}

.footer {
  padding: 1.5em 0;
  font-size: 0.9rem;
  border-top: solid 1px var(--color-primary-light);
}

.footer__copyright {
  margin: 0.4em 0 0;
}

.footer-menu {
  list-style: none;
  display: flex;
  margin: 0 -0.6em;
  padding: 0;
}

.footer-menu__item {
  padding: 0 0.6em;
}
